*{
  margin:0%;
  padding:0%;
  box-sizing: border-box;
 
  font-family: gilroy;
}

html,body{
height:100%;
width:100%;
}

body{
    overflow-x: hidden;
}

.main{
    height: 100%;
    width: 100%;
    /* background-color: rgb(228, 197, 197); */
    
}

.nav{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 0.1px solid rgb(3, 3, 3);
}


.navpart2{
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.hero{
    height: calc(100% - 15%);
   
   
}

.images{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
   
}


.image1{
 height: 70%;
 width: 20%;
 background-color: #fff;
 border-radius: 15px;
 overflow: hidden;
 
}
.image2{
    height: 70%;
    width: 20%;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
   }
   .image3{
    height: 70%;
    width: 20%;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
   }
   .image4{
    height: 70%;
    width: 20%;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
   }


   .Images{
    height: 100vh;
    width: 100%;
    background-color: #d62222;
   }

   .Image1{
    height: 100%;
    width: 100%;
   object-fit: contain;
   }

   